<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='nycbus/stylesheets/style.css' />
    <link rel="stylesheet" href="nycbus/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="nycbus/stylesheets/flat-ui.css">
    <link href="nycbus/stylesheets/font-awesome/font-awesome/css/font-awesome.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>


    <script src="nycbus/js/test.js"></script>
    <script src="nycbus/js/spin.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfIWrqBWatqs7xV9XvfjnDi9odct0OCLw&amp;sensor=false&v=3.18"></script>
    <script type="text/jsx" src="nycbus/js/bundle.js"></script>
  <style>
    html, body {
      margin: 0;
      padding: 0;
    }

  </style>

  </head>

  <body>
  <div id="wrapper" height="100%">
      <div id="wrapper2" style="position:relative; font-size: 20px" height="100%"></div>
  </div>
  <div id="topMenuBar" style="height:100%"><div>
    <script type="text/jsx" src="nycbus/js/components/baseMap.react.js"></script>
    <script type="text/jsx" src="nycbus/js/components/topMenuBar.react.js"></script>




      <!-- <div id="map-canvas" style="height:100%;"><img src="images/bus450x300.png"  height="300" width="400" style="margin-top:40%;"></div> -->

  <div id="bottomBar">
        <div class="container" style="background-color:rgba(255, 255, 255, 0.0); ">
            <div class="navbar navbar-inverse navbar-fixed-bottom" style="background-color:rgba(255, 255, 255, 0.0);border: solid 0px">
              <div id="routes" style="margin-left:10px;display:none">
                <div id="hide_all" class="btn-group" data-toggle="buttons-checlng()ox" style="background-color:rgba(255, 255, 255, 0); border:0px; width:100px; margin-left: auto; position:relative;">
                  <button type="button" class="btn" onclick="javascript: toggleRoutesOff()">Hide</button>
                  <button type="button" class="btn" onclick="javascript: showAll()">All</button>
                  </br>
                </div>
                <div id="routemenu" class="btn-group" style="background-color:rgba(255, 255, 255, 0); border:0px; width:300px; margin-left: auto; position:relative;">
                </div>
              </div>
              <div class="control-group" style="margin: 0px 0px 10px 10px; width:99%">
                <div class="input-append" style="width:99%">
                  <input class="span2" id="appendedInputButton-03" type="text" onClick="this.value=''" placeholder="Search / Info " style="width:100%">
                  <div class="btn-group">
                    <button class="btn" id="searchB" type="button" onClick="javascript: requestBus(); toggleRoutesOff(); revertSearchB();" style="display:none;" ><i class="icon-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
        </div>
  </div>


  </body>
</html>
