<!DOCTYPE html>
<html>
<head>
    <title>Hello React</title>
    <script src="http://fb.me/react-0.12.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.1.js"></script>
</head>
<body>
<div id="example"></div>
<div id="example2"></div>
<div id="example3"></div>
<div id="example4"></div>
<div id="example5"></div>
<div id="example6"></div>
<div id="example7"></div>
<div id="example8"></div>
<div id="example9"></div>
<div id="example10"></div>
<script type="text/jsx">

    var HelloWorld = React.createClass({
        render: function() {
            return (
                    <p>
                    Hello, <input type="text" placeholder="Your name here" />!
                    It is {this.props.date.toTimeString()}
                    </p>
            );
        }
    });

    setInterval(function() {
        React.render(
                <HelloWorld date={new Date()} />,
                document.getElementById('example')
        );
    }, 500);

    /*----------------------------------------------------------*/

    var LikeButton = React.createClass({
        getInitialState: function() {
            return {liked: false};
        },
        handleClick: function(event) {
            this.setState({liked: !this.state.liked});
        },
        render: function() {
            var text = this.state.liked ? 'like' : 'haven\'t liked';
            return (
                    <p onClick={this.handleClick}>
                    You {text} this. Click to toggle.
                    </p>
            );
        }
    });

    React.render(
            <LikeButton />,
            document.getElementById('example2')
    );

    /*----------------------------------------------------------*/

    var Avatar = React.createClass({
        render: function() {
            return (
                    <div>
                        <ProfilePic username={this.props.username} />
                        <ProfileLink username={this.props.username} />
                    </div>
            );
        }
    });

    var ProfilePic = React.createClass({
        render: function() {
            return (
                    <img src={'http://graph.facebook.com/' + this.props.username + '/picture'} />
            );
        }
    });

    var ProfileLink = React.createClass({
        render: function() {
            return (
                    <a href={'http://www.facebook.com/' + this.props.username}>
        {this.props.username}
                    </a>
            );
        }
    });

    React.render(
            <Avatar username="lfcunha" />,
            document.getElementById('example3')
    );


    var myDivElement = <div className="foo">A</div>;
    React.render(myDivElement, document.getElementById('example4'));

    var FancyCheckbox = React.createClass({
        render: function() {
            var fancyClass = this.props.checked ? 'FancyChecked' : 'FancyUnchecked';
            return (
                    <div className={fancyClass} onClick={this.props.onClick}>
        {this.props.children}
                    </div>
            );
        }
    });
    React.render(
            <FancyCheckbox checked={false} onClick={console.log.bind(console)}>
            Hello world!
            </FancyCheckbox>,
            document.getElementById('example5')

    );






</script>
</body>
</html>