
	  
	  body{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;}
	  #content{height:100%;width:100%;padding:0;margin:0 auto;}
	  #content h1{color:#333;line-height:1em;}
	  #content h1{font-size:14px;line-height:18px;background-color:#000;color:#FFF;padding:7px;}
	  #content ul#nav{display:none;}ul#nav{padding-left:0;list-style:none;width:100%;margin-bottom:0;}ul#nav:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;}#content ul#nav li{float:left;width:20%;text-align:center;}#content ul#nav a{display:block;background:#000;color:#FFF;font-weight:bold;padding:10px;border-right:1px solid #FFF;}#content ul#nav a:hover{background:#333;}.open{display:block;float:left;width:40px;height:20px;margin-right:4px;background:url(menu.png) center center no-repeat #333;-moz-border-radius:8px;-webkit-border-radius:8px;-border-radius:8px;box-shadow:inset 0 0 3px #000;text-indent:-999999px;border:0;}#pageslide{width:50%;}#pageslide #nav li{padding:10px 0;border-bottom:1px solid #666;}#pageslide #nav li a{color:#FFF;border:none;}#pageslide #nav li a:hover{text-decoration:underline;}




  .labels {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 44px;     
     border: 1px grey;
     white-space: nowrap;}

.labels1 {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 44px;     
     border: 1px grey;
     white-space: nowrap;}

     .labels2 {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 88px;     
     border: 1px grey;
     white-space: nowrap;}
       .labels3 {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 120px;     
     border: 1px grey;
     white-space: nowrap;}
       .labels4 {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 160px;     
     border: 1px grey;
     white-space: nowrap;}
            .labels5 {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 200px;     
     border: 1px grey;
     white-space: nowrap;}
            .labels6 {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 240px;     
     border: 1px grey;
     white-space: nowrap;}
            .labels7 {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 280px;     
     border: 1px grey;
     white-space: nowrap;}



       .labels8 {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 300px;     
     border: 1px grey;
     white-space: nowrap;}   
         .labels10 {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 320px;     
     border: 1px grey;
     white-space: nowrap;}       
     .labels10 {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 340px;     
     border: 1px grey;
     white-space: nowrap;}